.carousel{
    
    position: relative;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.gallery-wrapper{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-wrapper::-webkit-scrollbar{
    display: none;
}



.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
}

.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    width: 20px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.2;
    transition: all 600ms ease-in-out;
}

.arrow-right{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;

}



.item{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    opacity: 0.5;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 15px;
    transition: all 600ms ease-in-out;
}

.current-item{
    opacity: 1;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0,0,0);
}

#h2carousel{
    text-align: center;
}
